<!DOCtype HTML>
<html>
  <head>
  <title>Predicted Price of Motorbike</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/main.css">
</head>
  <body>
    <main>


<div id="intro">
        <h1 id="title">Predicted Price of Motorbike</h1>
      </div>
      
      <form method = "POST" id="user-input">
        <div class="form-group">
             <label>Brand</label>
               <input id="brand" type="text" name="brand" placeholder="Enter brand name..." required>
        </div>
        
        <div class="form-group">
             <label id="model-label">Model</label>
               <input id="model" type="text" name="model" placeholder="Enter model name..." required>
        </div>
        
         <div class="form-group">
             <label>Capacity</label>
               <input id="capacity" type="text" name="capacity" placeholder="Enter capacity..." required>
        </div>
        
         <div class="form-group">
             <label>Course</label>
               <input id="course" type="text" name="course" placeholder="Enter courese..." required>
        </div>
        
        <div class="form-group">
             <label>Year</label>
               <input id="year" type="text" name="year" placeholder="Enter year..." required>
        </div>
        
           <div class="popup" onclick="">
             <button type="submit" id="submit">Submit</button>
             <span class="popuptext" id="resultpopup"><h1 class="text-center">My desired motorbike is {{motorbike}}</span>
           </div> 
        
      </form>

<!-- <div class="content">
    <h1>Task Master</h1>
    <form method="POST">
      <label for="model">Model:</label><br>
      <input type="text" id="model" name="modeln"><br>
      <label for="brand">Brand:</label><br>
      <input type="text" id="brand" name="brandn"><br>
        <label for="capacity">Capacity:</label><br>
        <input type="text" id="capacity" name="capacity"><br>
        <label for="course">Courese:</label><br>
        <input type="text" id="course" name="course"><br>
        <label for="year">Year:</label><br>
        <input type="text" id="year" name="year"><br>
        <input type="submit" name="Send spe">
    </form>
</div> -->
          </main>
            </body>
</html>

